<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124991237466-3cg9ie00k73hp00ak2l89el610hith2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124991237466-3cg9ie00k73hp00ak2l89el610hith2t</string>
	<key>API_KEY</key>
	<string>AIzaSyCcvkWARrw2ekn9J7-Mpfeh-g-tu5tBlTs</string>
	<key>GCM_SENDER_ID</key>
	<string>124991237466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redeeApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>redee-b3df9</string>
	<key>STORAGE_BUCKET</key>
	<string>redee-b3df9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124991237466:ios:6595ca5e0342b8be641763</string>
	<key>DATABASE_URL</key>
	<string>https://redee-b3df9-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>